@model Company
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    @(Model.Id != 0 ? "Edit" : "Create") Company
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 text-white">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="col-10">
                <div class="border p-3">
                    <input asp-for="Id" hidden />
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Name" class="form-control border-0x shadow" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <label asp-for="Name" class="ms-2 text-dark">
                        </label>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="StreetAddress" class="form-control border-0 shadow" />
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                        <label asp-for="StreetAddress" class="ms-2 text-dark">
                        </label>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="City" class="form-control border-0 shadow" />
                        <span asp-validation-for="City" class="text-danger"></span>
                        <label asp-for="City" class="ms-2 text-dark">
                        </label>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="State" class="form-control border-0 shadow" />
                        <span asp-validation-for="State" class="text-danger"></span>
                        <label asp-for="State" class="ms-2 text-dark">
                        </label>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input type="number" asp-for="PostalCode" step="1" class="form-control border-0 shadow" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                        <label asp-for="PostalCode" class="ms-2 text-dark">
                        </label>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input type="number" asp-for="PhoneNumber" step="0.01" class="form-control border-0 shadow" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        <label asp-for="PhoneNumber" class="ms-2 text-dark">
                        </label>
                    </div>
                  
                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control">
                                @(Model.Id != 0 ? "Edit" : "Create")
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Game" asp-action="Index" class="btn btn-outline-primary border form-control">
                                Back to list
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
